#root {
  --sidebar-bg: #333;
  --white: #fff;
  --black: #000;
}

body {
  margin: 0;
}

header {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: .75rem 1.25rem;
  background-color: var(--sidebar-bg);
}

header .logo img {
  height: 46px;
}

header .title h1 {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0;
  line-height: 1;
}

header .title h2 {
  font-size: 16px;
  font-weight: 100;
  letter-spacing: 2.5px;
  margin: 0;
  line-height: 1.5;
  color: #999
}

.main {
  display: flex;
}

.rental-list {
  flex: 1;
  padding: 2rem;
}

.rental-list h1 {
  border: 2px solid var(--white);
  padding: .5rem 1rem;
  border-radius: 1rem;
}

#sidebar {
  width: 200px;
  height: 100vh;
  background-color: var(--sidebar-bg);
  color: var(--white);
  padding: 20px;
  box-sizing: border-box;
  left: 0;
  top: 0;
}

#sidebar ul {
  list-style: none;
}