:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.rental-list {
  flex-direction: column;
  flex: 1;
  padding: 2rem;
}

.rental-list h1 {
  border: 2px solid var(--white);
  padding: .5rem 1rem;
  border-radius: 1rem;
}

.main {
  display: flex;
}

#sidebar {
  width: 200px;
  height: 100vh;
  background-color: var(--sidebar-bg);
  color: var(--white);
  padding: 20px;
  box-sizing: border-box;
  left: 0;
  top: 0;
}

#sidebar ul {
  list-style: none;
}